<html>

<body>
    
    <h1>Update Student #{{.Row}}</h1>
    
    {{if .Error}}
    <div>{{.Error}}</div>
    {{end}}
    
    {{if .Success}}
    <div>{{.Success}}</div>
    {{end}}
    
    
    
    <form method="post">
        <table>
            <tr>
                <td><label for="name">Name:</label></td>
                <td><input type="text" id="name" name="name" value="{{.Student.Name}}"></td>
            </tr>
            
            <tr>
                <td><label for="gender">Gender:</label></td>
                <td>
                    <select type="text" id="gender" name="gender">
                        {{range $item := .Opts.Genders}}
                        <option {{if eq $item $.Student.Gender}} selected {{ end }} >{{$item}}</option>
                        {{end}}
                    </select>
                </td>
            </tr>
            
            <tr>
                <td><label for="level">Class Level:</label></td>
                <td>
                    <select type="text" id="level" name="level">
                        {{range $item := .Opts.Levels}}
                        <option {{if eq $item $.Student.Level}} selected {{ end }} >{{$item}}</option>
                        {{end}}
                    </select>
                </td>
            </td>
        </tr>
        
        <tr>
            <td><label for="state">Home State:</label></td>
            <td>
                <select type="text" id="state" name="state">
                    {{range $item := .Opts.States}}
                    <option {{if eq $item $.Student.State}} selected {{ end }} >{{$item}}</option>
                    {{end}}
                </select>
            </td>
        </tr>
        
        <tr>
            <td><label for="major">Major:</label></td>
            <td>
                <select type="text" id="major" name="major">
                    {{range $item := .Opts.Majors}}
                    <option {{if eq $item $.Student.Major}} selected {{ end }} >{{$item}}</option>
                    {{end}}
                </select>
            </td>
        </tr>
        
        <tr>
            <td><label for="activity">Extracurricular Activity:</label></td>
            <td>
                <select type="text" id="activity" name="activity">
                    {{range $item := .Opts.Activities}}
                    <option {{if eq $item $.Student.Activity}} selected {{ end }} >{{$item}}</option>
                    {{end}}
                </select>
            </td>
        </tr>
    </table>
    
    <input type="submit" value="Submit">
    
</form>

</html>